<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content=
            "width=device-width, 
            initial-scale=1.0">
    </head>
    <body style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJQ8RQFSYAGjJKOgVXUBGLGaknN48cptH7cA&usqp=CAU');"">
        <div class="inform">
            <div class="content">
                <img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZmlsZXxlbnwwfHwwfHw%3D&w=1000&q=80" alt="picture" class="photo">
            </div>
            <h1>Sign UP / Login</h1>
            <p>Please choose the step u are willing to go...</p>
            <hr>
            <a href="http://localhost:3000/signup">
                <button>Sign Up</button>
            </a>            
            <div>
                <a href="http://localhost:3000/login">
                    <button>login</button>
                </a>
            </div>
        </div>
    </body>
    <style>
        body {font-family: Arial, Helvetica, sans-serif;}
        * {box-sizing: border-box}
        * {background-color: lightblue} 
        button {
            background-color:aquamarine;
            color: white;
            padding: 20px 0px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 80%;
            opacity: 0.9;
        }
        .inform {
            padding: 200px;
            color:deeppink;
            text-align: center;
        }
        .content {
            text-align: center;
            margin: 24px 0 12px 0;
        }
        img.photo {
            width: 40%;
            border-radius: 50%;
        }
    </style>
</html>