<!DOCTYPE html>
<html> 
    <head>
        <style>
            body, html{
                height: 100%;
                margin: 0;
            }
            .bg{
                background-image: url(https://wallpapercave.com/wp/wp3315722.jpg);
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div class="bg"></div>
    </body>
</html>